{% extends 'practice.html'%}
{% block content%}

<section id="statistics" class="events">
  <div class="container-fluid aos-init aos-animate" data-aos="fade-up" style="text-align: center;">

    <div class="section-header">
      <br>
      <h2>statistics</h2>
      <p>재미있는 <span>통계</span> 이야기</p>
    </div>
        
    <div class="tableauPlaceholder" id="viz1662992894583" style="position: relative; width: 1200px; height: 827px; overflow: hidden; display: inline-block;">      
      <noscript>
        <a href='#'>
        <img alt='대시보드 3 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BJ&#47;BJMB2Y9SJ&#47;1_rss.png' style='border: none' />
      </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='path' value='shared&#47;BJMB2Y9SJ' /> 
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BJ&#47;BJMB2Y9SJ&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='ko-KR' />
        <param name='filter' value='publish=yes' />
      </object>
    </div>  

    <script type='text/javascript'>                    
      var divElement = document.getElementById('viz1662992894583');                   
      var vizElement = divElement.getElementsByTagName('object')[0];                    
      if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
      else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
      else { vizElement.style.width='100%';vizElement.style.height='877px';}                     
      var scriptElement = document.createElement('script');                    
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>               
        
  </div>
</section>
{% endblock %}